/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}


body {
    font-size: 1.6rem;
    /* font-size 1.6rem is now the same as 16px */
    line-height: 1.6;
}

/* Header --------------------------------------------------*/
header {
    padding: 50px;
    background-color: rgb(135, 182, 236);
    text-align: center;
}

/* main --------------------------------------------------*/
main {
    max-width: 2000px;
    margin: 50px auto;
}

p { 
    margin-top: 20px;
}

.button { 
    background-color: rgb(135, 182, 236);
    color: darkblue;
    text-align: center;
    width: 300px;
    padding: 10px 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.button:hover { 
    background-color: rgb(135, 236, 160);
    color: darkgreen;
    transition: all 1s;
}


/* Images --------------------------------------------------*/
img { 
    width: 500px;
}

.img-div {
    display: inline-block;
    
}

.img-div-hidden { 
    visibility: hidden;
}

#img-0 { 
    position: absolute;
    top: 50px;
    right: 20px;
}

#img-2 { 
    position: absolute;
    top: 500px;
    right: 50px;
}

#img-3 { 
    position: absolute;
    top: 80px;
    left: 20px;
}
#img-4 { 
    position: absolute;
    bottom: 60px;
    right: 500px;
}
#img-5 { 
    position: absolute;
    top: 50px;
    left: 100px;
}
#img-6 { 
    position: absolute;
    bottom: 40px;
    right: 300px;
}
#img-7 { 
    position: fixed;
    top: 70px;
    right: 70px;
}

