/* Home Page  ---------------------------------------------------------------*/
.start-page {
    background-image: url(../chaos/imgs/glich-background.jpg);
    background-size: cover;

    font-family: "Oswald", sans-serif;
    color: #e5e6fa;
}

.welcome-text {
    margin: 30vh auto;
    text-align: center;

}

.welcome-text h1 {
    font-family: "Michroma", sans-serif;
}

.welcome-text h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;

}

.start-button {
    display: inline-block;
    background-color: rgb(62, 155, 241);
    color: aliceblue;
    border-radius: 30px;
    padding: 20px 60px;

    font-size: 25px;
    text-decoration: none;
    letter-spacing: 2px;
}

.start-button:hover {
    background-color: rgb(0, 255, 76);
    transform: scale(1.25);
    transition: all .5s;
}



/* Ad page ---------------------------------------------------------------*/
.ad-page {
    background-color: black;
    background-image: url(../chaos/imgs/glich-background.jpg);
    background-size: 100%;
}



/* Ad Box ---------------------------------------------------------------*/
.contain-ads {

    height: 100vh;
    width: 95vw;

    /*height: 1000px;
    width: 2000px;*/

    margin: 0 2.5%;

    position: relative;
    border: none;
}

div[class^="box-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
}

.box-1 {
    background-color: rgb(255, 20, 20);
    height: 250px;
    width: 600px;

    top: 30%;
    left: 38%;
}

.box-1 a {
    display: block;
    color: #380700;

    margin: 20px Auto;

    text-align: center;
    text-decoration: none;
    font-size: 150px;
    font-family: "Anton", sans-serif;

    animation: shake-3 .5s infinite;
}

.box-1 a:hover {
    color: #ffffff;
}

.box-2 {
    background-image: url(../chaos/imgs/rotom-laundry.png);
    height: 300px;
    width: 450px;

    top: 5%;
    left: 15%;
}

.box-3 {
    background-image: url(../chaos/imgs/subscription-tv.png);
    height: 400px;
    width: 550px;

    bottom: 10%;
    left: 26%;
}

.box-4 {
    background-image: url(../chaos/imgs/fish-news.png);
    height: 300px;
    width: 400px;

    top: 20%;
    left: 45%;

    animation: shake 1.5s infinite;
}

.box-5 {
    background-image: url(../chaos/imgs/finger-gun.png);
    height: 300px;
    width: 550px;

    top: 45%;
    right: 17%;
    animation: shake-3 .4s infinite;
}

.b5-btn {
    display: inline-block;
    background-color: #e92525;
    border-radius: 20px;

    padding: 15px 50px;
    margin-left: 250px;
    margin-top: 190px;

    font-size: 25px;
    text-align: center;
}

.b5-btn a {
    color: white;
    text-decoration: none;
}

.b5-btn:hover {
    background-color: rgb(7, 161, 7);
    transition: all 1s;
}

.box-6 {
    background-image: url(../chaos/imgs/surveillance.png);
    height: 300px;
    width: 400px;

    top: 5%;
    right: 5%;
}

.box-7 {
    background-image: url(../chaos/imgs/nails-spa.png);
    height: 350px;
    width: 450px;

    bottom: 40%;
    left: 8%;
}

.box-8 {
    background-image: url(../chaos/imgs/breakin.png);
    height: 400px;
    width: 350px;

    bottom: 5%;
    left: 1%;
}

.box-9 {
    background-image: url(../chaos/imgs/shark-loans.png);
    height: 300px;
    width: 650px;

    top: 30%;
    left: 10%;
}

.box-10 {
    background-image: url(../chaos/imgs/daycare.png);
    height: 450px;
    width: 350px;

    top: 1%;
    right: 35%;
}

.box-11 {
    background-image: url(../chaos/imgs/overwhelmed.png);
    height: 250px;
    width: 450px;

    top: 55%;
    right: 47%;

    animation: shake-2 1s infinite;
}

.b11-img {
    animation: shake .5s infinite;
}

.box-12 {
    background-image: url(../chaos/imgs/game.png);
    height: 350px;
    width: 350px;

    top: 60%;
    right: 10%;
}

.b12-text {
    background-color: rgb(221, 40, 167);
    color: aliceblue;
    display: inline-block;

    opacity: 90%;

    margin-top: 10px;
    margin-left: 10px;
    padding: 0 15px;

    border-radius: 20px;
    text-decoration: underline;

    cursor: pointer;
}

.b12-text h3 {
    opacity: 100%;
}

.b12-text:hover {
    background-color: rgb(182, 21, 61);
    transition: all .5s;
}

.box-13 {
    background-image: url(../chaos/imgs/chicken.png);
    height: 300px;
    width: 600px;

    top: 1%;
    left: 1%;
}

.box-14 {
    background-image: url(../chaos/imgs/vote.png);
    height: 500px;
    width: 350px;

    top: 10%;
    left: 5%;

    animation: shake-3 .5s infinite;
}

.box-15 {
    background-image: url(../chaos/imgs/therapy.png);
    height: 300px;
    width: 350px;

    bottom: 1%;
    right: 60%;
}

.box-16 {
    background-image: url(../chaos/imgs/pet-grooming.png);
    height: 300px;
    width: 250px;

    top: 5%;
    right: 28%;
}

.box-17 {
    background-image: url(../chaos/imgs/plumber.png);
    height: 400px;
    width: 350px;

    font-family: "Tiny5", sans-serif;
    letter-spacing: 5px;

    top: 11%;
    right: 3%;
}

.b17-text {
    text-align: center;
    margin-top: 280px;
}

.b17-text h1 {
    display: inline-block;
    background-color: rgb(71, 202, 71);
    padding: 15px 40px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;

    animation: shake .5s infinite;
}

.box-18 {
    background-image: url(../chaos/imgs/rent.png);
    height: 400px;
    width: 450px;

    top: 20%;
    right: 23%;
}

.b18-text {
    margin: 20px;
    margin-top: 10px;
}

.b18-text h1:first-child {
    text-align: center;

    font-size: 60px;
    font-weight: bold;
}

.b18-text h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-top: 10px;
}

.b18-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;

    background-color: rgb(58, 58, 58);
    color: aliceblue;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px 40px;

    font-size: 20px;

}

.b18-btn:hover {
    display: inline-block;
    background-color: rgb(81, 134, 214);

    cursor: pointer;

    transition: all .5s;
    animation: shake-3 .5s infinite;
}

.box-19 {
    background-image: url(../chaos/imgs/gym-member.png);
    height: 300px;
    width: 550px;

    bottom: 10%;
    right: 25%;

    animation: stretch-2 1s infinite;
}

.box-20 {
    background-image: url(../chaos/imgs/indeedie-work.png);
    height: 300px;
    width: 450px;

    top: 10%;
    left: 35%;
}

.box-21 {
    background-image: url(../chaos/imgs/recycle.png);
    height: 400px;
    width: 250px;

    top: 35%;
    right: 1%;
}

.b21-text {
    background-color: #ddeedbc0;
    margin: 15px;
    padding: 10px;

    font-family: "Shadows Into Light", cursive;
    letter-spacing: 3px;
}

.b21-text h4,
h1 {
    margin: 0px 10px;

}

.b21-text h1 {
    font-size: 25px;
    line-height: 1.3;
}

.b21-text h4 {
    font-size: 15px;
}

.b21-text ul {
    margin: 10px 0px;
    line-height: 1.3;
}

.b21-text a {
    display: inline-block;
    background-color: rgb(5, 129, 47);
    color: rgb(190, 204, 190);
    padding: 10px 30px;
    margin: 5px auto;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.b21-text a:hover {

    background-color: rgb(211, 238, 57);
    color: rgb(131, 158, 8);

    transition: all 1s;
}

.box-22 {
    background-image: url(../chaos/imgs/lady-pink-diner.png);
    height: 300px;
    width: 450px;

    top: 40%;
    right: 12%;
}

.box-23 {
    background-image: url(../chaos/imgs/doctor.png);
    height: 300px;
    width: 350px;

    bottom: 5%;
    right: 38%;
}

.b23-text {

    margin-left: 20px;
}

.b23-text h1,
h2 {
    margin: 10px 0px;
}

.b23-text h2 {
    margin-top: 20px;
}

.b23-text p {
    display: inline-block;
    background-color: rgb(32, 55, 105);
    color: white;

    margin-top: 95px;
    padding: 15px 30px;
    border-radius: 20px;

    font-size: 18px;
}

.b23-text p:hover {
    cursor: pointer;
    background-color: #82b4fd;
    color: #0b0f4b;

    transition: all .5s;
}

.box-24 {
    background-image: url(../chaos/imgs/zhongli-note.png);
    height: 450px;
    width: 450px;

    top: 40%;
    left: 10%;
}

.b24-text {
    color: aliceblue;
    margin-left: 10px;
    padding: 10px 20px;

    font-family: "Chewy", system-ui;
    letter-spacing: 3px;
}

.b24-text h1 {
    font-size: 3rem;
    margin: 20px 0;

    letter-spacing: 5px;
}

.b24-text ul {
    font-size: 2rem;
    margin: 20px 0;
}

.box-25 {
    background-image: url(../chaos/imgs/taxes.png);
    height: 300px;
    width: 600px;

    top: 2%;
    left: 18%;
}

.box-26 {
    background-image: url(../chaos/imgs/duchess.png);
    height: 300px;
    width: 450px;

    top: 2%;
    right: 5%;

    animation: shake .5s infinite;
}

.box-27 {
    background-image: url(../chaos/imgs/cookie-pope.jpg);
    background-color: #3e4386;
    height: 500px;
    width: 250px;

    top: 15%;
    right: 18%;
}

.box-28 {
    background-image: url(../chaos/imgs/papers.png);
    height: 300px;
    width: 450px;

    top: 40%;
    right: 40%;

}

.b28-text {
    text-align: center;

    font-family: "Oswald", sans-serif;
}

.b28-text h1 {
    color: #e5e6fa;
    margin: 40px 10px;
    font-size: 55px;

    animation: stretch 2s infinite;
}

.b28-text a {
    display: inline-block;
    background-color: rgb(241, 191, 96);
    color: rgb(88, 76, 20);
    opacity: 80%;
    padding: 10px 50px;
    margin: 20px 0px;
    border-radius: 5px;

    font-size: 25px;
    font-weight: bold;
    text-decoration: none;


    animation: shake-2 1s infinite;
}

.b28-text a:hover {

    background-color: rgb(115, 221, 54);
    color: green;

    transition: all 2s;
}

/* Other Popups"  ---------------------------------------------------------------*/
.box-23-reschedule {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;

    background-color: gray;
    height: 150px;
    width: 350px;

    bottom: 27%;
    right: 23%;

    visibility: hidden;
}

.box-23-reschedule h1 {
    text-align: center;
    margin-top: 20px;

    font-family: "Oswald", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
}



/* Text Stretch Animation ---------------------------------------------------------------*/
@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes stretch-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, .8);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* Shaking Animation ---------------------------------------------------------------*/
@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
        rotate: -1deg;
    }

    40% {
        transform: translate(10px, 0);
        rotate: 1deg;
    }

    60% {
        transform: translate(-10px, 0);
        rotate: -1deg;
    }

    80% {
        transform: translate(10px, 0);
        rotate: 1deg;
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake-2 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
    }

    40% {
        transform: translate(10px, 5px);
    }

    60% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(10px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Shaking side to side */
@keyframes shake-3 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
    }

    40% {
        transform: translate(10px, 0);

    }

    60% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(10px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* animation: shake .5s infinite;*/

/* Closing Tab ---------------------------------------------------------------*/
.ad-bar {
    border-radius: 10px 10px 0 0;
    background-color: rgb(211, 209, 209);
    padding: 5px;
    padding-right: 8px;
    text-align: right;
}

.ad-bar p {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 0 10px;

    font-size: 14pt;
}

.ad-bar p:hover {
    cursor: pointer;
}

/* Footer AD-Page ---------------------------------------------------------------*/
.ad-page footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 80px;

    font-family: "Oswald", sans-serif;
    text-align: right;

    background-color: rgb(83, 83, 233);
    border-radius: 10px;
    padding: 8px 40px;

    cursor: pointer;
}

.ad-page footer a {
    color: aliceblue;
    text-decoration: none;
}

.ad-page footer:hover {
    background-color: #e92525;
    transition: .5s;
}

/* Calm Page
---------------------------------------------------------------*/
.calm-page {
    font-family: "Comic Relief", system-ui;
    background-color: #90e0a8;
    background-image: url(../calm/img/leafy.png);
    background-size: 400px;
    background-repeat: repeat;
}

.calm-containers { 
    text-transform: capitalize;
    margin: 5px;
}

.calm-containers h1 {
    font-family: "Sue Ellen Francisco", "Dekko", cursive;
    font-size: 2.5rem;
    line-height: 1.5;
}

.calm-containers h2 {
    font-family: "Comic Relief", system-ui;
    font-size: 20px;
}

.cbox {
    box-sizing: border-box;
    background-color: rgb(91, 197, 118);

    width: 400px;
    height: 300px;
    border: solid 15px rgb(77, 175, 101);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    margin: 0;

    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cbox.hidden {
  opacity: 0;
  visibility: hidden;
}

.c-img{ 
    width: 100%;
    height: 70%;
    text-align: center;

    border-radius: 15px;
}

.c-close-btn {
    background-color: #90e0a8;
    padding: 10px 30px;
    margin: 0;
    border-radius: 40px;

    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(14, 85, 5);
    font-family: serif;
    font-size: 30px;

    cursor: pointer;
}

.c-close-btn:hover {
    background-color: #deffa0;

    transition: all .5s;
}

.c-again { 
    background-color: #90e0a8;
    padding: 10px 30px;
    margin: 0;
    border-radius: 40px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(14, 85, 5);
    font-size: 19px;
}

.c-again:hover {
    background-color: #deffa0;

    transition: all .5s;
}


/* Footer Calm
---------------------------------------------------------------*/
.replay-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 80px;

    text-align: right;

    background-color:rgb(91, 197, 118);
    border-radius: 10px;
    padding: 8px 40px;

    cursor: pointer;
}

.replay-btn a {
    color: aliceblue;
    text-decoration: none;
}

.replay-btn:hover {
    background-color:#7ab9f3;

    transition: .5s;
}