/* Home Page  ---------------------------------------------------------------*/
.start-page {
    background-color: burlywood;
}

.welcome-text {
    margin: 30vh auto;
    text-align: center;
}

.start-button {
    display: inline-block;
    background-color: blue;
    border-radius: 10px;
    padding: 30px 60px;
}

.start-button:hover {
    background-color: aqua;
    transform: scale(1.25);
    transition: all .5s;
}



/* Ad page ---------------------------------------------------------------*/
.ad-page {
    background-color: black;
}



/* Ad Box ---------------------------------------------------------------*/
.box-div {

    /*height: 100vh;
    width: 95vw;*/

    height: 1000px;
    width: 2000px;

    margin: 0 2.5%;

    position: relative;
}

div[class^="box-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
}

.box-1 {
    background-color: blue;
    height: 250px;
    width: 600px;

    top: 30%;
    left: 45%;
}

.box-2 {
    background-color: blueviolet;
    height: 200px;
    width: 450px;

    top: 20%;
    right: 40%;
}

.box-3 {
    background-color: aqua;
    height: 400px;
    width: 250px;

    top: 40%;
    right: 20%;
}

.box-4 {
    background-color: palevioletred;
    height: 300px;
    width: 400px;

    top: 30%;
    left: 30%;
}

.box-5 {
    background-color: greenyellow;
    height: 400px;
    width: 250px;

    top: 2%;
    left: 05%;
}

.box-6 {
    background-color: orange;
    height: 250px;
    width: 250px;

    top: 15%;
    left: 20%;
}

.box-7 {
    background-color: brown;
    height: 100px;
    width: 250px;

    top: 10%;
    right: 30%;
}

.box-8 {
    background-color: red;
    height: 200px;
    width: 350px;

    top: 50%;
    right: 30%;
}

.box-9 {
    background-color: rgb(136, 255, 0);
    height: 300px;
    width: 400px;

    top: 5%;
    right: 5%;
}

.box-10 {
    background-color: rgb(196, 107, 156);
    height: 250px;
    width: 350px;

    top: 15%;
    right: 20%;
}

.box-11 {
    background-color: rgb(255, 0, 149);
    height: 300px;
    width: 250px;

    top: 55%;
    left: 25%;
}

.box-12 {
    background-color: rgb(238, 255, 0);
    height: 200px;
    width: 550px;

    top: 60%;
    left: 5%;
}

.box-13 {
    background-color: red;
    height: 400px;
    width: 350px;

    bottom: 5%;
    left: 1%;
}

.box-14 {
    background-color: rgb(96, 127, 145);
    height: 200px;
    width: 650px;

    top: 36%;
    left: 10%;
}

.box-15 {
    background-color: rgb(226, 184, 184);
    height: 450px;
    width: 350px;

    top: 5%;
    right: 35%;
}

.box-16 {
    background-color: rgb(73, 158, 23);
    height: 150px;
    width: 450px;

    top: 65%;
    right: 45%;
}

.box-17 {
    background-color: red;
    height: 350px;
    width: 350px;

    top: 60%;
    right: 10%;
}

.box-18 {
    background-color: red;
    height: 200px;
    width: 200px;

    top: 1%;
    left: 30%;
}

.box-19 {
    background-color: rgb(30, 145, 139);
    height: 300px;
    width: 600px;

    top: 1%;
    left: 1%;
}

.box-20 {
    background-image: url; 
    height: 500px;
    width: 350px;

    top: 10%;
    left: 5%;

    animation: shake-3 .5s infinite;
}



.box-21 {
    background-color: red;
    height: 300px;
    width: 350px;

    bottom: 1%;
    right: 60%;
}

.box-22 {
    background-color: rgb(94, 59, 14);
    height: 300px;
    width: 250px;

    top: 1%;
    right: 30%;
}

.box-23 {
    background-color: rgb(234, 0, 255);
    height: 200px;
    width: 350px;

    top: 45%;
    right: 45%;
}

.box-24 {
    background-color: rgb(136, 29, 207);
    height: 400px;
    width: 350px;

    top: 11%;
    right: 3%;
}

.box-25 {
    background-image: url(../chaos/imgs/rent.png);
    height: 400px;
    width: 450px;

    top: 20%;
    right: 23%;
}
.b25-text {
    margin: 20px;
    margin-top: 10px;
}
.b25-text h1:first-child {
    text-align: center;

    font-size: 60px;
    font-weight: bold;
}
.b25-text h1 {
    font-size: 50px;
    margin-left: 40px;
    margin-top: 10px;
}
.b25-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;

    background-color: rgb(58, 58, 58);
    color: aliceblue;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px 40px;

    font-size: 20px;

}
.b25-btn:hover {
    display: inline-block;
    background-color: rgb(81, 134, 214);

    cursor: pointer;
}
.b25-btn:active {
    display: inline-block;

    transition: all .5s;
    animation: shake-3 .5s 1;
}



.box-26 {
    background-image: url(../chaos/imgs/gym-member.png);
    height: 300px;
    width: 550px;

    bottom: 10%;
    right: 25%;

    animation: stretch-2 1s infinite;
}

.box-27 {
    background-image: url(../chaos/imgs/indeedie-work.png);
    height: 300px;
    width: 450px;

    top: 10%;
    left: 35%;
}

.box-28 {
    background-image: url(../chaos/imgs/recycle.png);
    height: 400px;
    width: 250px;

    top: 35%;
    right: 1%;
}
.b28-text {
    background-color: #ddeedbc0;
    margin: 15px;
    padding: 10px;
}
.b28-text h4,
h1 {
    margin: 0px 10px;
}
.b28-text a {
    display: inline-block;
    background-color: rgb(5, 129, 47);
    color: rgb(190, 204, 190);
    padding: 10px 35px;
    margin: 10px auto;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.b28-text a:hover {

    background-color: rgb(211, 238, 57);
    color: rgb(131, 158, 8);

    transition: all 1s;
}

.box-29 {
    background-image: url(../chaos/imgs/lady-pink-diner.png);
    height: 300px;
    width: 450px;

    top: 40%;
    right: 12%;
}

.box-30 {
    background-image: url(../chaos/imgs/doctor.png);
    height: 300px;
    width: 350px;

    bottom: 5%;
    right: 38%;
}
.b30-text {

    margin-left: 20px;
}
.b30-text h1,h2 {
    margin: 10px 0px;
}
.b30-text h2 {
    margin-top: 20px;
}
.b30-text p {
    display: inline-block;
    background-color: rgb(32, 55, 105);
    color: white;

    margin-top: 95px;
    padding: 15px 30px;
    border-radius: 20px;

    font-size: 18px;
}
.b30-text p:hover {
    cursor: pointer;
    background-color: #82b4fd;
    color: #0b0f4b;

    transition: all .5s;
}

.box-31 {
    background-image: url(../chaos/imgs/kirby-note.png);
    height: 450px;
    width: 450px;

    top: 40%;
    left: 10%;
}
.b31-text {
    color: aliceblue;
    margin-left: 10px;
    padding: 10px 20px;
}
.b31-text h1 {
    font-size: 3rem;
    margin: 20px 0;
}
.b31-text ul {
    font-size: 2rem;
    margin: 20px 0;
}

.box-32 {
    background-image: url(../chaos/imgs/taxes.png);
    height: 300px;
    width: 600px;

    top: 2%;
    left: 18%;
}

.box-33 {
    background-image: url(../chaos/imgs/duchess.png);
    height: 300px;
    width: 450px;

    top: 2%;
    right: 5%;

    animation: shake .5s infinite;
}

.box-34 {
    background-image: url(../chaos/imgs/cookie-pope.jpg);
    background-color: #3e4386;
    height: 500px;
    width: 250px;

    top: 15%;
    right: 18%;
}

.box-35 {
    background-color: #424677;
    height: 300px;
    width: 450px;

    top: 40%;
    right: 40%;

}
.b35-text {
    text-align: center;
}
.b35-text h1 {
    color: #0b0f4b;
    margin: 40px 10px;
    font-size: 55px;

    animation: stretch 2s infinite;
}
.b35-text a {
    display: inline-block;
    background-color: rgb(241, 191, 96);
    color: rgb(88, 76, 20);
    padding: 10px 50px;
    margin: 20px 0px;
    border-radius: 5px;

    font-size: 25px;
    font-weight: bold;
    text-decoration: none;


    animation: shake-2 1s infinite;
}
.b35-text a:hover {

    background-color: rgb(115, 221, 54);
    color: green;

    transition: all 2s;
}

/* Other Popups"  ---------------------------------------------------------------*/
.box-30-reschedule {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;

    background-color: gray;
    height: 150px;
    width: 350px;

    bottom: 27%;
    right: 23%;

    visibility: hidden;
}

.box-30-reschedule h1 {
    text-align: center;
}



/* Text Stretch Animation ---------------------------------------------------------------*/
@keyframes stretch {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes stretch-2 {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, .8);
    }

    100% {
        transform: scale(1, 1);
    }
}


/* Shaking Animation ---------------------------------------------------------------*/
@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
        rotate: -1deg;
    }

    40% {
        transform: translate(10px, 0);
        rotate: 1deg;
    }

    60% {
        transform: translate(-10px, 0);
        rotate: -1deg;
    }

    80% {
        transform: translate(10px, 0);
        rotate: 1deg;
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shake-2 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
    }

    40% {
        transform: translate(10px, 5px);
    }

    60% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(10px, 5px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Shaking side to side */
@keyframes shake-3 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10px, 0);
    }

    40% {
        transform: translate(10px, 0);

    }

    60% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(10px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* animation: shake .5s infinite;*/

/* Closing Tab ---------------------------------------------------------------*/
.ad-bar {
    border-radius: 10px 10px 0 0;
    background-color: rgb(211, 209, 209);
    padding: 5px;
    padding-right: 8px;
    text-align: right;
}

.ad-bar p {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 0 10px;

    font-size: 14pt;
}

.ad-bar p:hover {
    cursor: default;
}

/* Footer ---------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 30px 80px;
    text-align: right;

    background-color: blue;
    border-radius: 10px;
    padding: 10px 20px;
}