/* Page Setup
--------------------------------------------------------------------------  */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    /*Rem= 10 px
        Ex. 
        5px = .5 rem
        20px =  2rem*/
}

body {
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: rgb(143, 160, 253);
    height: 90vh;
}

h1,
h2 {
    cursor: default;
}

p {
    cursor: default;
    text-transform: none;
}

.invisible {
    display: none;
}

/* Footer
--------------------------------------------------------------------------  */

footer {
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    padding: 1.5rem 3rem;

    display: flex;
    justify-content: right;
    align-items: right;
}

.logo {
    width: 5rem;
    height: 5rem;
}

footer p {
    font-size: 2rem;
    margin: 1.5rem 1rem;
}

/* Start Page 
-------------------------------------------------------------------------- */
#start-page main {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    /*box-sizing: border-box;
    width: 50rem ; */

    padding: 10rem;
    background-color: aquamarine;

    text-align: center;

    border-radius: .5rem;
}

@media screen and (min-width:1200px) {
    .start {
        width: 80rem;
        height: 40rem;

        font-size: 3rem;
    }

    .start a {
        padding: 2rem 4rem;
        font-size: 4rem;
    }
}

@media screen and (min-width:601px) and (max-width:1199px) {

    .start a {
        padding: 1.5rem 3rem;
        font-size: 3.5rem;
    }

}

@media screen and (max-width:600px) {
    .start {
        padding: 5rem;
    }

    .start a {
        padding: 1.5rem 3rem;
        font-size: 3rem;
    }
}

.start a {
    display: inline-block;
    margin-top: 2rem;

    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 5rem;
}

.start a:hover {
    background-color: rgb(13, 0, 200);
    transition: background-color 0.5s ease;
}

/* Text Boxes
-------------------------------------------------------------------------- */
.text-box {
    box-sizing: border-box;
    width: 80%;
    padding: 3rem 5rem;

    background-color: white;
    border-radius: 1rem;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    cursor: pointer;
}

.text-box a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
}

@media screen and (min-width:1200px) {

    .text-box {
        font-size: 3rem;
    }
}

textarea {
    box-sizing: border-box;
    width: 50rem;
    height: 15rem;

    padding: 1rem;

    font-size: 1.5rem;

    border: 1px solid rgb(0, 0, 0);
    border-radius: .5rem;
}

@media screen and (min-width:1200px) {
    textarea {
        width: 85rem;
        height: 20rem;
        font-size: 2rem;
    }
}

@media screen and (max-width:800px) {
    textarea {
        width: 40rem;
    }
}

@media screen and (max-width:800px) {
    textarea {
        width: 20rem;
    }
}


.close {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
    background-color: rgba(222, 231, 99, 0.8);

    width: 10rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;

    cursor: pointer;

    font-size: 2.5rem;
}

.close:hover {
    background-color: rgb(13, 0, 200);
    color: white;
    transition: background-color 0.5s ease;
}

/* Choice / Options
-------------------------------------------------------------------------- */
.choice-container {
    background-color: blue;
    margin: 0;

    text-align: center;

    padding: 1rem 0rem;

}


.options-container {
    width: 100%;

    align-items: center;
    display: grid;
    place-items: center;
    gap: 2rem;
}

@media screen and (min-width:850px) {

    .choice-container {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .options-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        /* space between boxes */
    }
}



.option-c4 {
    box-sizing: border-box;

    background-color: lightpink;
    border-radius: .5rem;

    width: 40rem;
    height: 20rem;

    cursor: pointer;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1300px) {

    .choice-container {
        top: 45%;
    }

    .option-c4 {
        width: 60rem;
        height: 30rem;
    }
}

.option-c2 {
    box-sizing: border-box;

    background-color: lightpink;
    border-radius: .5rem;

    width: 40rem;
    height: 40rem;

    cursor: pointer;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}


@media screen and (max-width:850px) {
    .option-c2 {
        width: 30rem;
        height: 30rem;
    }
}

.option-c4:hover,
.option-c2:hover {
    background-color: rgb(13, 0, 200);
    transform: scale(1.05);
    transition: all 0.5s ease;
}


/* music control
-------------------------------------------------------------------------- */

.music-control {
    align-items: left;
    padding: 1rem;
}

@media screen and (max-width:600px) {
    .music-control {
        text-align: center;
    }
}


/* Route Boxes 
-------------------------------------------------------------------------- */
.route-box {
    box-sizing: border-box;
    width: 80%;
    padding: 3rem 5rem;

    background-color: white;
    border-radius: 1rem;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 60%;


}



.route-box a {
    display: block;
    text-decoration: none;

    width: 25rem;
    padding: 1rem 0rem;

}

.rb-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



/* Genre Page 
-------------------------------------------------------------------------- */
#genre-page main {
    background-color: rgb(156, 125, 241);
}

@media screen and (max-width:800px) {
    #genre-page main {
        height: 110vh;
    }
}

/* Art Page
-------------------------------------------------------------------------- */
#art-page main {
    background-color: rgb(209, 255, 182);
}

@media screen and (max-width:850px) {

    #genre-page main,
    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main {
        height: 140vh;
    }
}

/* Game Page 
-------------------------------------------------------------------------- */
#game-page main {
    background-color: rgb(86, 75, 233);
}


/* Makeup Page 
-------------------------------------------------------------------------- */
#makeup-page {
    background-color: rgb(245, 188, 221);
}


/* LifeStyleW Page 
-------------------------------------------------------------------------- */
#lifestyle-page {
    background-color: rgb(68, 163, 5);
}

@media screen and (min-width:1200px) {

    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main,
    #genre-page main {
        background-color: rgba(238, 183, 138, 0.8);
    }
}

@media screen and (min-width:601px) and (max-width:1199px) {
    main {
        background-color: rgba(99, 189, 231, 0.8);
    }
}

@media screen and (max-width:600px) {

    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main,
    #genre-page main {
        background-color: rgba(92, 2, 128, 0.8);
    }
}

.test { 
    background-color: chartreuse;
}