/* Page Setup
--------------------------------------------------------------------------  */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    /*Rem= 10 px
        Ex. 
        5px = .5 rem
        20px =  2rem*/
}

body {
    margin: 0;
    font-size: 2rem;
}

main {
    background-color: rgb(181, 212, 149);
    text-align: center;
}

/* Footer
--------------------------------------------------------------------------  */

footer {
    box-sizing: border-box;
    background-color: rgb(255, 0, 0);
    padding: 1.5rem 3rem;

    display: flex;
    justify-content: right;
    align-items: right;
}

.logo {
    width: 5rem;
    height: 5rem;
}

footer p {
    font-size: 2rem;
    margin: 1.5rem 1rem;
}

/* Start Page 
-------------------------------------------------------------------------- */
#start-page main {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    /*box-sizing: border-box;
    width: 50rem ; */

    padding: 10rem;
    background-color: aquamarine;

    border-radius: .5rem;
}

.start a {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.5rem 3rem;

    font-size: 2.5rem;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 5rem;
}

.start a:hover {
    background-color: rgb(13, 0, 200);
    transition: background-color 0.5s ease;
}


/* Genre Page
-------------------------------------------------------------------------- */
#genre-page main {
    height: 90vh;
}

section[class^="text-box-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: .5rem;
    background-color: rgba(21, 14, 124, 0.8);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 2rem;
    width: 60%;
}

@media screen and (min-width:1001px) {
    section[class^="text-box-"] {
        width: 50%;
    }
}

@media screen and (max-width:1000px) {
    section[class^="text-box-"] {
        width: 70%;
    }
}

h2[class^="dot-btn-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
    background-color: rgba(222, 231, 99, 0.8);

    width: 10rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;

    cursor: pointer;
}

h2[class^="dot-btn-"]:hover {
    background-color: rgb(200, 97, 0);
    transition: background-color 0.5s ease;
}

section[class^="play-"] h1 {
    visibility: hidden;

    border-radius: .5rem;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 2rem;
    padding: 2rem;
}

div[class^="choice-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    background-color: rgb(221, 151, 22);

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 0;
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
}

div[class^="genre-box-"] {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    background-color: rgba(153, 104, 231, 0.8);

    margin: 1rem;
    padding: 2rem;

    width: 50rem;
    height: 30rem;
}

@media screen and (min-width:1300px) {
    section[class^="play-"] h1 {
        top: 5%;
    }

    div[class^="choice-"] {
        width: 95rem;
    }

    div[class^="genre-box-"] {
        width: 40rem;
        height: 20rem;
    }
}

@media screen and (max-width:1299px) {
    section[class^="play-"] h1 {
        top: 10%;
    }

    div[class^="choice-"] {
        width: 80rem;
    }

    div[class^="genre-box-"] {
        width: 30rem;
        height: 15rem;
    }
}

@media screen and (max-width:900px) {
    section[class^="play-"] h1 {
        top: 10%;
    }

    div[class^="choice-"] {
        width: 60rem;
    }

    div[class^="genre-box-"] {
        width: 20rem;
        height: 10rem;
    }
}

@media screen and (max-width:650px) {

    #genre-page main {
        height: 100vh;
    }

    section[class^="play-"] h1 {
        top: 10%;
        margin: 0;
        padding: 0;
    }

    div[class^="choice-"] {
        top: 60%;
        width: 40rem;
    }

    div[class^="genre-box-"] {
        width: 20rem;
        height: 10rem;
    }
}