/* Page Setup
--------------------------------------------------------------------------  */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
    /*Rem= 10 px
        Ex. 
        5px = .5 rem
        20px =  2rem*/
}

body {
    margin: 0;
    font-size: 2rem;
    text-transform: capitalize;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: rgb(143, 160, 253);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

h1,
h2 {
    cursor: default;
}

p {
    cursor: default;
    text-transform: none;
}

.invisible {
    display: none;
}

/* Footer
--------------------------------------------------------------------------  */

footer {
    box-sizing: border-box;
    background-color: rgb(80, 80, 80);
    padding: 1.5rem 3rem;

    display: flex;
    justify-content: right;
    align-items: right;

    color: white;
}

.logo {
    width: 5rem;
    height: 5rem;
}

footer p {
    font-size: 2rem;
    margin: 1.5rem 1rem;
}

/* Start Page 
-------------------------------------------------------------------------- */
#start-page main {
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../assets/genre-imgs/camrea-4928x3264.jpg);
}

.start {
    /*box-sizing: border-box;
    width: 50rem ; */

    padding: 10rem;
    background-color: rgba(78, 51, 71, 0.897);

    color: aliceblue;
    text-align: center;

    border-radius: .5rem;
}

@media screen and (min-width:1200px) {
    .start {
        width: 80rem;
        height: 40rem;

        font-size: 3rem;
    }

    .start a {
        padding: 2rem 4rem;
        font-size: 4rem;
    }
}

@media screen and (min-width:601px) and (max-width:1199px) {

    .start a {
        padding: 1.5rem 3rem;
        font-size: 3.5rem;
    }

}

@media screen and (max-width:600px) {
    .start {
        padding: 5rem;
    }

    .start a {
        padding: 1.5rem 3rem;
        font-size: 3rem;
    }
}

.start a {
    display: inline-block;
    margin-top: 2rem;

    text-decoration: none;
    color: white;
    background-color: rgb(219, 7, 88);
    border-radius: 5rem;
}

.start a:hover {
    background-color: rgb(200, 147, 0);
    transition: background-color 0.5s ease;
}

/* Text Boxes
-------------------------------------------------------------------------- */
.text-box {
    box-sizing: border-box;
    width: 80%;
    padding: 3rem 5rem;

    border-radius: 1rem;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    cursor: pointer;

    color: white;
    background-color: rgba(0, 0, 0, 0.459);
    /*REMOVE lATER*/
}

.text-box a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
}

@media screen and (min-width:1200px) {

    .text-box {
        font-size: 3rem;
    }
}

textarea {
    box-sizing: border-box;
    width: 50rem;
    height: 15rem;

    padding: 1rem;

    font-size: 1.5rem;

    border: 1px solid rgb(0, 0, 0);
    border-radius: .5rem;
}

@media screen and (min-width:1200px) {
    textarea {
        width: 85rem;
        height: 20rem;
        font-size: 2rem;
    }
}

@media screen and (max-width:800px) {
    textarea {
        width: 40rem;
    }
}

@media screen and (max-width:800px) {
    textarea {
        width: 20rem;
    }
}


.close {
    border-radius: 5rem;

    width: 10rem;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 1.5rem;

    cursor: pointer;

    font-size: 2.5rem;

    background-color: rgb(99, 145, 231);
    /*REMOVE lATER*/

}

.close:hover {
    background-color: rgb(100, 235, 123);
    color: white;
    transition: background-color 0.5s ease;

    /*REMOVE lATER?*/
}

/* Choice / Options
-------------------------------------------------------------------------- */
.choice-container {
    box-sizing: content-box;
    margin: 0;
    padding: 2rem;

    border-radius: .5rem;

    text-align: center;

    color: rgb(48, 48, 48);
    background-color: rgba(196, 196, 196, 0.6)
}

@media screen and (max-width:849px) {

    .choice-container {
        width: 100%;
    }
}

.options-container {
    width: 100%;

    align-items: center;
    display: grid;
    place-items: center;
    gap: 2rem;
}

@media screen and (min-width:850px) {

    .choice-container {
        margin: 0;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .options-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 2rem;
        /* space between boxes */
    }
}

.option-c4 {
    box-sizing: border-box;

    background-color: rgb(176, 248, 230);
    border-radius: .5rem;

    width: 40rem;
    height: 20rem;

    cursor: pointer;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1300px) {

    .choice-container {
        top: 45%;
    }

    .option-c4 {
        width: 60rem;
        height: 30rem;
    }
}

.option-c2 {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40rem;
    height: 40rem;

    background-color: rgb(176, 195, 248);
    border-radius: .5rem;

    cursor: pointer;

    text-align: center;
}


@media screen and (max-width:850px) {
    .option-c2 {
        width: 30rem;
        height: 30rem;
    }
}

.option-c4:hover,
.option-c2:hover {
    background-color: rgb(143, 135, 250);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.op1,
.op2,
.op3,
.op4 {
    background-size: cover;
    background-position: center;
}

.minor-choice {
    width: 40rem;

    text-transform: capitalize;
}

@media screen and (max-width:850px) {
    .minor-choice { 
        width: 20rem;
    }
    
}

/* music control
-------------------------------------------------------------------------- */
.music-control {
    align-items: left;
    padding: 1rem;
}

@media screen and (max-width:850px) {
    .music-control {
        text-align: center;
    }
}


/* Route Boxes 
-------------------------------------------------------------------------- */
.route-box {
    box-sizing: border-box;
    width: 80%;
    padding: 3rem 5rem;

    background-color: white;
    border-radius: 1rem;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 60%;
}

@media screen and (max-width:850px) {
    .route-box{ 
        top: 50%;
        height: 80%;
    }
    main { 
        height: 100%;
    }
    
}

.route-box a {
    display: block;
    text-decoration: none;

    width: 25rem;
    padding: 1rem 0rem;
}

.top-gap {
    margin-top: 1rem;
}

.rb-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

progress {
    text-align: center;

    height: 4rem;
    width: 40rem;
}

@media screen and (max-width:850px) {
    progress{ 
        height: 3rem;
        width: 25rem;
    }
    
}

.progress-bar {
    margin: 0;
}


.progress-bar p {
    margin: 0;
}

/* Genre Page 
-------------------------------------------------------------------------- */


#genre-page main {
    background-image: linear-gradient(rgba(104, 104, 104, 0.767), rgb(0, 0, 0, .9)), url(../assets/genre-imgs/camrea-4928x3264.jpg);
}

#genre-page .text-box,
#genre-page .branch-1 a #genre-page .choice-container {
    color: rgb(48, 48, 48);
    background-color: rgba(196, 196, 196, 0.6);
}

#genre-page .options-container {
    color: white;
}

#genre-page .close {
    background-color: rgba(247, 247, 247, 0.6);
}

#genre-page .close:hover {
    background-color: rgba(73, 73, 73, 0.8);
}

#genre-page .op1 {
    background-image: linear-gradient(-45deg, rgba(75, 45, 0, 0.829), rgba(158, 126, 77, 0.801)), url(../assets/genre-imgs/art-room-6000x4000.jpg);
}

#genre-page .op2 {
    background-image: linear-gradient(-45deg, rgba(88, 2, 88, 0.705), rgba(23, 37, 165, 0.603)), url(../assets/genre-imgs/gaming-setup-6720x4480.jpg);
}

#genre-page .op3 {
    background-image: linear-gradient(-45deg, rgba(48, 0, 18, 0.9), rgba(202, 106, 170, 0.801)), url(../assets/genre-imgs/makeup-5472x3648.jpg);

}

#genre-page .op4 {
    background-image: linear-gradient(-45deg, rgba(0, 83, 28, 0.705), rgba(10, 81, 122, 0.603)), url(../assets/genre-imgs/vlog-5472x3648.jpg);
}

#genre-page .warning { 
    background-color: rgb(255, 237, 77);
    text-align: left;
}

#genre-page .g-text-0{ 
    background-color: rgb(212, 212, 169);
    text-align: left;
}

@media screen and (max-width:800px) {
    #genre-page main {
        height: 110vh;
    }
}

/* Art Page
-------------------------------------------------------------------------- */
#art-page main {
    background-image: linear-gradient(rgba(119, 99, 34, 0.7), rgba(77, 27, 14, 0.7)), url(../assets/art-imgs/studio-4928x3264.jpg);
}

#art-page .text-box,
#art-page .choice-container {
    color: white;
    background-color: rgba(46, 25, 0, 0.7);
}

#art-page .close {
    background-color: rgba(84, 172, 76, 0.6);
}

#art-page .close:hover {
    background-color: rgba(76, 200, 238, 0.8);
}

#art-page .op1 {
    background-image: linear-gradient(-45deg, rgba(15, 8, 19, 0.9), rgba(55, 10, 216, 0.801)), url(../assets/art-imgs/digital-5978x4000.jpg);
    background-size: 80rem;
}

#art-page .op2 {
    background-image: linear-gradient(-45deg, rgba(95, 86, 7, 0.705), rgba(16, 104, 155, 0.603)), url(../assets/art-imgs/papercutouts-4660x3001.jpeg);
}

#art-page .route-1 .route-box,
#art-page .route-1 .route-box a {
    background-color: rgb(50, 72, 114);
    color: rgb(179, 185, 212);
}

#art-page .route-1 .route-box .close {
    background-color: rgba(144, 188, 238, 0.74);
    color: rgb(50, 72, 114);
}

#art-page .route-1 .route-box .close:hover {
    background-color: rgba(100, 235, 205, 0.74);
    color: rgb(50, 72, 114);
}

#art-page .route-2 .route-box,
#art-page .route-2 .route-box a {
    background-color: rgb(221, 201, 145);
    color: rgb(116, 56, 0);
}

#art-page .route-2 .route-box .close {
    background-color: rgba(172, 119, 6, 0.6);
}

#art-page .route-2 .route-box .close:hover {
    background-color: rgba(26, 121, 69, 0.6);
    color: rgb(2, 73, 34);
}

@media screen and (max-width:850px) {

    #genre-page main,
    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main {
        height: 140vh;
    }
}

/* Game Page 
-------------------------------------------------------------------------- */
#game-page main {
    background-image: linear-gradient(rgba(135, 0, 168, 0.5), rgba(17, 2, 71, 0.5)), url(../assets/gaming-imgs/city-5760x3240.jpeg);
}

#game-page .text-box,
#game-page .choice-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}

#game-page .close {
    background-color: rgba(208, 120, 230, 0.6);
}

#game-page .close:hover {
    background-color: rgba(76, 200, 238, 0.8);
}

#game-page .op1 {
    background-image: linear-gradient(-45deg, rgba(0, 168, 76, 0.5), rgba(54, 10, 216, 0.5)), url(../assets/gaming-imgs/minecarft-2200x1100.png);
    background-size: 80rem;
}

#game-page .op2 {
    background-image: linear-gradient(-45deg, rgba(0, 168, 76, 0.5), rgba(0, 162, 255, 0.603)), url(../assets/gaming-imgs/contorls-4815x3115.jpeg);
}

#game-page .route-1 .route-box,
#game-page .route-1 .route-box a {
    background-color: rgb(100, 185, 100);
    color: rgb(0, 75, 0);
}

#game-page .route-1 .route-box .close {
    background-color: rgba(0, 99, 21, 0.6);
}

#game-page .route-1 .route-box .close:hover {
    background-color: rgba(239, 255, 242, 0.6);
    color: rgb(0, 75, 0);
}

#game-page .route-2 .route-box,
#game-page .route-2 .route-box a {
    background-color: rgb(165, 111, 214);
    color: rgb(45, 2, 73);
}

#game-page .route-2 .route-box .close {
    background-color: rgba(248, 229, 255, 0.6);
}

#game-page .route-2 .route-box .close:hover {
    background-color: rgba(245, 143, 248, 0.6);
    color: rgb(45, 2, 73);
}

/* Makeup Page 
-------------------------------------------------------------------------- */
#makeup-page main {
    background-image: linear-gradient(rgba(255, 156, 250, 0.5), rgba(124, 15, 15, 0.5)), url(../assets/makeup-img/makeup-bg-67020x4480.jpeg);
}

#makeup-page .text-box,
#makeup-page .choice-container {
    color: white;
    background-color: rgba(134, 18, 18, 0.85);
}

#makeup-page .close {
    background-color: rgba(243, 64, 183, 0.6);
}

#makeup-page .close:hover {
    background-color: rgba(241, 180, 138, 0.8);
}

#makeup-page .op1 {
    background-image: linear-gradient(rgba(245, 192, 94, 0.6), rgba(151, 0, 0, 0.6)), url(../assets/makeup-img/makeuo-look-38040x3840.jpg);
}

#makeup-page .op2 {
    background-image: linear-gradient(rgba(245, 192, 94, 0.6), rgba(151, 0, 0, 0.6)), url(../assets/makeup-img/swatching.jpeg);
    background-size: 60rem;
}

#makeup-page .route-1 .route-box,
#makeup-page .route-1 .route-box a {
    background-color: rgb(255, 149, 107);
    color: rgb(114, 1, 1);
}

#makeup-page .route-1 .route-box .close {
    background-color: rgba(209, 80, 6, 0.6);
}

#makeup-page .route-1 .route-box .close:hover {
    background-color: rgba(250, 202, 196, 0.6);
    color: rgb(114, 1, 1);
}

#makeup-page .route-2 .route-box,
#makeup-page .route-2 .route-box a {
    background-color: rgb(179, 17, 65);
    color: rgb(73, 2, 2);
}

#makeup-page .route-2 .route-box .close {
    background-color: rgba(248, 229, 255, 0.6);
}

#makeup-page .route-2 .route-box .close:hover {
    background-color: rgba(245, 143, 248, 0.6);
    color: rgb(73, 2, 2);
}


/* LifeStyleW Page 
-------------------------------------------------------------------------- */
#lifestyle-page main {
    background-image: linear-gradient(rgba(107, 180, 135, 0.7), rgba(38, 119, 121, 0.7)), url(../assets/lifestyle-imgs/kitchen-4596x3044.jpg);
}

#lifestyle-page .text-box,
#lifestyle-page .choice-container {
    color: white;
    background-color: rgba(1, 26, 73, 0.75);
}

#lifestyle-page .close {
    background-color: rgba(8, 74, 160, 0.6);
}

#lifestyle-page .close:hover {
    background-color: rgba(207, 231, 120, 0.8);
    color: rgb(0, 82, 57);
}

#lifestyle-page .op1 {
    background-image: linear-gradient(-45deg, rgba(1, 100, 46, 0.5), rgba(16, 119, 179, 0.603)), url(../assets/lifestyle-imgs/family-vlog-4868x3246.jpeg);
}

#lifestyle-page .op2 {
    background-image: linear-gradient(-45deg, rgba(1, 100, 46, 0.5), rgba(16, 119, 179, 0.603)), url(../assets/lifestyle-imgs/vlog-5472x3648.jpeg);
}

#lifestyle-page .route-1 .route-box,
#lifestyle-page .route-1 .route-box a {
    background-color: rgb(233, 215, 157);
    color: rgb(129, 61, 5);
}

#lifestyle-page .route-1 .route-box .close {
    background-color: rgb(168, 98, 17);
    color: rgb(233, 215, 157);
}

#lifestyle-page .route-1 .route-box .close:hover {
    background-color: rgba(47, 109, 62, 0.589);
}

#lifestyle-page .route-2 .route-box,
#lifestyle-page .route-2 .route-box a {
    background-color: rgb(131, 194, 95);
    color: rgb(1, 68, 27);
}

#lifestyle-page .route-2 .route-box .close {
    background-color: rgba(248, 229, 255, 0.6);
    color: rgb(1, 68, 27);
}

#lifestyle-page .route-2 .route-box .close:hover {
    background-color: rgba(248, 206, 89, 0.6);
}

@media screen and (min-width:1200px) {

    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main,
    #genre-page main {
        background-color: rgba(238, 183, 138, 0.8);
    }
}

@media screen and (min-width:601px) and (max-width:1199px) {
    main {
        background-color: rgba(99, 189, 231, 0.8);
    }
}

@media screen and (max-width:600px) {

    #art-page main,
    #game-page main,
    #makeup-page main,
    #lifestyle-page main,
    #genre-page main {
        background-color: rgba(92, 2, 128, 0.8);
    }
}

.test {
    background-color: chartreuse;
}